body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black
}

.julie {
  height: 300px;
}

.hello-text {
  font-size: 100px;
  padding: 20px;
  align-self: center;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  padding-top: 75px;
  padding-bottom: 75px;
}

#image-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(225, 225, 225, 0.7) !important;
  padding: 10px;
  width: 100%;
}

.background-image{
  background-image: url('./images/background.jpg');
  background-size: cover;
}

.name-title-div {
  text-align: center;
  align-self: center;
}

.name-div {
  font-size: 60px;
  padding-top: 20px;
}

.title-div {
  font-size: 42px;
  padding-bottom: 5px;
  text-align: center;
  align-self: center; 
}

.skills-div {
  text-align: center;
  align-self: center;
  flex-wrap: wrap;
  word-spacing: 5px;
  padding-bottom: 15px;
  font-size: 18px;
}

.contact-buttons {
  text-align: center;
  align-self: center;
  padding-bottom: 15px;
}

.icon {
  height: 50px;
  margin: 5px;
}

#work {
  display: flex;
  flex-wrap: wrap;
  background: black;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
}

#work-div-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-image: url('./images/background2.jpg');
}

#work-div-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-image: url('./images/background3.jpg');
}

#work-overlay {
  background-color: rgb(225, 225, 225, 0.9) !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#work-blog {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.work-title {
  font-size: 36px;
}

.work-subtitle-div {
  padding-top: 10px;
  text-align: center;
  align-self: center;
  flex-wrap: wrap;
  word-spacing: 5px;
  font-size: 24px;
}

.work-desc-div {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  word-spacing: 5px;
}
.work-desc-text {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  align-self: center;
}

#footer {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
}

#footer-div {
  background-image: url('./images/background.jpg');
  background-size: cover;
  width: 100%;
}

#image-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(225, 225, 225, 0.7)  !important;
  width: 100%;
}

/* #image-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(225, 225, 225, 0.7);
  padding: 10px;
  width: 100%;
} */
